body,
html {
  height: 100%;
  margin: 0;
  font-family: "Kanit", serif;
}

/* hero image styling */
.heroImage {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/heroimg\ \(1\).jpeg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 45rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
}

.hero-text button {
  border: 3px solid green;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}

.hero-text button:hover {
  background-color: green;
  color: white;
}

/* product slider css */
section {
  background-color: bisque;
}

.slideshow-header {
  /* display: flex;
  justify-content: center; */
  padding: 0.5rem;
  padding-left: 90px;
  font-size: 2em;
}
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.product-container {
  padding: 0 18 vw;
  display: flex;
  overflow: auto;
  scroll-behavior: smooth;
}
product-container::-webkit-scrollbar {
  display: none;
}
.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}
.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.Featured-product {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discount-tag {
  position: absolute;
  background: white;
  padding: 5px;
  border-radius: 5px;
  color: #009688;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: white;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product-card:hover .card-btn {
  opacity: 2;
}
.card-btn:hover {
  background: black;
  color: white;
}
.product-info {
  width: 50%;
  height: 50%;
  padding-top: 10px;
}
.product-brand {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5s;
  text-transform: capitalize;
  margin: 5px 0;
}
.price {
  font-weight: 900;
  font-size: 20px;
  text-decoration: line-through;
}
.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  position: absolute;
  /* top: 0; */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 100%);
  cursor: pointer;
  z-index: 2;
  display: block;
  text-align: center;
  line-height: 25rem;

  /* width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  cursor: pointer; */
}
.pre-btn {
  left: 0px;
  line-height: 25rem;
  /* left: 0; */
  /* transform: rotate(180deg); */
}
.nxt-btn {
  /* right:0; */
  right: 0px;
  transform: rotate(180deg);
}
.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}
.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repear(2, 1fr);
  grid-gap: 10px;
}
.collection {
  position: relative;
}
.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 50px;
  text-transform: capitalize;
}
.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/* product slider css */

/* values section */

.values-section {
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 236, 212);
  padding: 20px;
  padding-left: 3rem;
  padding-right: 10rem;
}

.value-text {
  padding-top: 6rem;
  font-size: 2rem;
}

/* .value-text-1{
    padding-right: 6rem;
} */

.customerpic {
  width: 60%;
  height: 60%;
}

.icon {
  padding-left: 130px;
}

/* footer styling */

.container {
  max-width: 1770px;
  /* background-color: red; */
  margin: auto;
  padding: 3rem;
}

.row {
  display: flex;
  /* flex-wrap: wrap; */
}

ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70 px 0;
  line-height: 1.5;
}

.footer-col {
  width: 25%;
  padding: 0 5rem;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 3rem;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #4eceb8;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffff;
  padding-left: 8px;
}
.footer-col .social-links .social-icons {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 3 10px;

  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links .social-icons:hover {
  color: #4eceb8;
  background-color: white;
}
